@model Dama.Web.Models.ViewModels.Activity.Manage.UndefinedActivityManageViewModel
@using Dama.Data.Enums

@{
    ViewBag.Title = "Edit activity";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

@using (Html.BeginForm("EditUndefinedActivity", "Calendar", FormMethod.Post, new { @class = "form-horizontal", role = "form", type = ActivityType.UndefinedActivity, id = Model.Id }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Labels, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.Labels, Model.LabelSourceCollection)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Color, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Color, Model.ColorSourceCollection, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Category, Model.CategorySourceCollection, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MinimumTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MinimumTime, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MaximumTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MaximumTime, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CalledFromEditor)
}
@if (!Model.CalledFromEditor)
{
    @Html.ActionLink("Back", "ManageActivities")
}
