@{
    ViewBag.Title = "Activity plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="calendar"></div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "Calendar/GetActivitiesToDisplayInCalendar",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Name,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            color: v.Color,
                            allDay: v.IsFullDay
                        });
                    })
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('An error occured during the process!');
                }
            })

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'HH:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda,list'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    firstDay: 1,
                    columnHeaderFormat: 'dddd',
                    themeSystem: 'standard',
                    nowIndicator: true,
                    slotLabelFormat: 'HH:mm'
                })
            }
        })
    </script>
}
<br>
<h4><b>Options</b></h4>

<table>
    <tr>
        <th>@Html.ActionLink("Manage Labels", "ManageLabels", "Calendar")</th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Manage Categories", "ManageCategories", "Calendar")</th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Manage Activities", "ManageActivities", "Calendar")</th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Edit Calendar", "Editor", "CalendarEditor")</th>
    </tr>
</table>
