@model IEnumerable<Dama.Data.Models.Label>

@{
    ViewBag.Title = "Manage Labels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.LabelRemovedSuccessFully</p>
<p class="text-danger">@ViewBag.LabelNotFoundError</p>

@Html.ActionLink("Create new label", "AddNewLabel", null, new { @class = "btn btn-outline-primary" })
<br></br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteLabel", new { labelId = item.Id }, new { @class = "btn-outline-danger" })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })